body {
  background-color: #4D483F;
  background-image: url('../assets/rock-paper-scissors.jpg');
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 10px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Indie Flower', cursive;

}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem
}

button {
   background-color: #4D483F;
   border: none;
   color: white;
   border: 1px solid white;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;
   margin-bottom: 10px;
   min-width: 60px;
}

button:hover {
  cursor: pointer;
}

#rock-hand,
#paper-plane,
#scissors-icon {
  max-height: 30px;
  margin-top: 5px;
}

#score {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, .8);
  padding: 3%;
  border-radius: 15px;
  /*min-width: 250px;*/
}

#button-container {
  display: flex;
  align-items: space-between;
  /*min-width: 250px;*/
  /*margin-left: 15px;*/
}

#paper {
  margin: 10px;
}
